[submodule "abstract-factory-pattern"]
	path = abstract-factory-pattern
	url = https://github.com/skgandikota/Abstract-Factory-Pattern.git
[submodule "builder-design-pattern"]
	path = builder-design-pattern
	url = https://github.com/skgandikota/Builder-Design-Pattern.git
[submodule "prototype-design-pattern"]
	path = prototype-design-pattern
	url = https://github.com/skgandikota/Prototype-Pattern.git
[submodule "singleton-design-pattern"]
	path = singleton-design-pattern
	url = https://github.com/skgandikota/singleton-design-Pattern.git
